# macOS
.DS_Store

# General
*.log
*.tmp
*.swp

# Git
.env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

# Java (no Maven/Gradle here)
*.class
out/
bin/
# IntelliJ
.idea/
*.iml

# CLion / CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

# VSCode (if used)
.vscode/
